<!DOCTYPE html>
<html>
<head>
    <link href="..//Content/Site.css" rel="stylesheet" type="text/css" />
    <meta charset="utf-8" />
    <title>Home Page</title>
</head>
<body>
    <div class="container_Master">
        <div class="container_Cadastro">
            <h1>Olá, seja bem-vindo ao Destino Certo!</h1>
            <h2>Login</h2>
            <form class="container_Form">

                <div class="div_Form">
                    <label>Username</label>
                    <input type="text" placeholder="Digite seu Username" />
                </div>

                <div class="div_Form">
                    <label>Senha</label>
                    <input type="password" placeholder="Digite sua senha: " />
                </div>
                <input type="submit" value="Confrimar"/>
                <h4>Primeria vez aqui? faça seu <a href="/user/register">cadastro</a>!</h4>
            </form>
        </div>
    </div>
</body>
</html>
